.git
.github
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/private
storage/app/public
public/build
test-results
tests
.env
.env.*
!.env.example
docker-compose.override.yml
npm-debug.log
yarn-error.log
