APP_NAME="Olympiad"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://olympiad-test.atu.kz
ASSET_URL=https://olympiad-test.atu.kz
APP_PORT=8080

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_DATABASE=laravel_olympiad
DB_USERNAME=root
DB_PASSWORD=change-me

SESSION_DRIVER=redis
SESSION_CONNECTION=default
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=

CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_DB=1

FILESYSTEM_DISK=local
FFMPEG_BINARY=ffmpeg

MAIL_MAILER=smtp
MAIL_SCHEME=tls
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=olympiad@atu.edu.kz
MAIL_PASSWORD=change-me
MAIL_FROM_ADDRESS=olympiad@atu.edu.kz
MAIL_FROM_NAME="${APP_NAME}"

BCRYPT_ROUNDS=12
SANCTUM_STATEFUL_DOMAINS=olympiad-test.atu.kz
